@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,700&display=swap');

:root {
    /* primary colors */
    --cyan: hsl(177, 68%, 64%);
    --red: hsl(12, 94%, 65%);
    --orange: hsl(33, 100%, 70%);
    /* neutral colors */
    --white: hsl(0, 0%, 100%);
    --p--main-text:hsla(0, 0%, 100%, 0.75);
    --black: hsl(244, 23%, 12%);


}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    font-size: 20px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    color: var(--black); 

}

img,
picture,
svg {
    display : block;
    max-width: 100%; 
}

input,
button,
textarea,
select {
    font: inherit;
}

p, h1, h2, h3, h4 {
    overflow-wrap: break-word;
}

h1 {
    font-size: 40px;
    
    line-height: 1.1;
}

h2 {
    font-size: 40px;
}

.footer p {
    font-size: 16px;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.hero {
    max-width: 1100px;
    /* max-height: 100px; */
    
}


.main {
    max-width: 1100px; 
    background-color: var(--black); 
    max-height: 600px;

}

.download-card {
    background-color: var(--red); 
    max-width: 445px;
}

.footer {
    max-width: 1100px;
    
    background-color: rgb(212, 216, 193);
}
